/* Navbar container */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 30px;
  background: white;
  border-bottom: 1px solid #e5e7eb;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Left */
.nav-left {
  flex: 1;
}

.logo {
  height: 40px;
  object-fit: contain;
}

/* Center */
.nav-center {
  flex: 1;
  text-align: center;
}

.nav-center h2 {
  font-size: 20px;
  font-weight: 600;
  color: #1f2937;
  margin: 0;
}

/* Right (empty for balance) */

.nav-right {
   flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

.username {
  font-weight: bold;
  color: white;
  font-size: 16px;
}

.logout-btn {
  padding: 8px 15px;
  background: rgb(212, 11, 11);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.logout-btn:hover {
  background: rgb(216, 144, 144);
}